.services_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.services_container .card {
  width: 31%;
  padding: 50px 40px;
  background: var(--color-bg-variant);
  border-radius: 1rem;
  transition: var(--transition);
  border: 1px solid transparent;
}
.services_container .card:hover {
background: transparent;
border-color: var(--color-primary);
}

.services_container .icon {
  font-size: 70px;margin-bottom: 20px;color: var(--color-primary);
}
.services_container h3 {
margin-bottom: 20px;
}
.services_container p {
font-size: 14px;
}

/* Responsive */
@media (max-width: 1024px) {
  .services_container .card {
    width: 48%;
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .services_container .card {
    width: 100%;
  }
}